reset css 
/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}


html{
    background-image: url('image/new_background_1 (2).png') ;  
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    min-height: 100vh; 
   
    
}
body{
    margin: 0;
    padding: 0;
    display: inline-block;
}
main{
    display: flex;
    margin-top: 20px;

}

.left__block {
   
    margin-left: 180px;
display: flex;
flex-direction: column;
}
.first__block{

    font-family: sans-serif;
    font-size: 20px;
    background: white;
    color: #666666;
    height: 60px;
    width: 100%;
    align-content: center;
    text-align: center;
    margin: 0;
}

.left__block h4 {
 margin: 0;
 padding: 0;
 font-weight: 900;
 text-align: center;
 font-size: 1.25rem;
 line-height: 1.4;
 
}
.butoane {
    margin-top: 20px;
}
.butoane1 {
    border: none;
    font: inherit;
    text-transform: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    background-color: white;
   color: black;

}
.butoane2 {
    border: none;
    font: inherit;
    text-transform: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    background-color: green;
   color: white;
   margin-left:60px ;
}
.butoane3 {
    border: none;
    font: inherit;
    text-transform: none;
    border-radius: 0;
    display: inline-block;
    box-sizing: border-box;
    padding: 0 30px;
    font-size: .875rem;
    line-height: 38px;
    text-align: center;
    text-decoration: none;
    background-color: green;
    color: white;
    margin-left: 40px;
    
}
.filter{
    display: flex;
    align-items: end;
    margin-top: 20px;
}
.switch {
    position: relative;
    width: 60px;
    height: 34px;
    margin-left: 20px;
    margin-bottom: 16px;
}
.slider{
    display: flex;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
   
}
h3 {
       font-family: 'Times New Roman';
    font-size: 16px;
    color: white;
    bottom: 100px;
}
.patrat {
    margin-top: 5px;
    margin-left: 3px;
    width: 25px;
    height: 25px;
    background-color: white;
}
.group{
    position: relative;
    background: white;
    display: flex;
  
    position: relative;
    background: white;
}
.group__zone{ border: none;
    height: 40px;
    width: 100%;
    padding-right: 30px;

}
.group div:first-child {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}


.button__group{
    background: white;
    height: 100px;
    padding: 0;
    width: 100%;
    list-style: none;
    overflow-y: scroll;
    scrollbar-width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}
.button__group button {
    width: 100%;
    border: none;
}
.button__group li {
    border-bottom: 1px solid #ccc;
    color: #666;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px 5px 15px;
    text-align: start;
    width: 100%;
}
.button__group button:hover > li {
    background: #fff7c0;
    color: #25975A;
}
.button__group button:focus > li {
    border-bottom: none;
   
    font-size: 16px;
  
    font-family: 'Times New Roman', Times, serif;
    padding: 5px 10px 5px 15px;
    color: white;
    background: #25975A;
}
#nedelea__select {
    border: none;
    height: 40px;
    width: 100%;
    margin-top: 20px;
}
#nedelea__select,
#day__select {
    font-family: 'Times New Roman';
    font-size: 20px;
    color: #000000;
    border: none;
    background: white;
    height: 40px;
    width: 100%;
    padding: 5px;
}

#day__select option {
    font-family: 'Times New Roman';
    font-size: 20px;
}
